@using Deliveroo.Tabelle
@{
    ViewData["Title"] = "Aggiungi Articolo";
    Layout = "_Layout"; //il layout è quello dell'utente (va bene)
    
    Articolo art = Model;//da modificare/togliere
}

<div class="macro-section">
    <div class="container">
        <div class="page-split">

            <!-- SINISTRA (da togliere e centrare)-->
            <div class="left-col">

                <!-- BOTTONE BACK (fare un pulsante per annulare l'operazione-->
                <div></div>

                <div class="article-split">
                    <div class="article-left">
                        <img src="@art.Foto" alt="@art.Nome"/>
                    </div>

                    <!--da sostiuire con bottoni per aggiungere tutti gli elementi + aggiungere categoria-->
                    <div class="article-right">
                        <div class="article-right-content">
                            <h1>@art.Nome</h1>
                            <p class="descrizione">@art.Descrizione</p>
                            <div class="article-divider"></div>
                            <p class="prezzo">€ @art.Prezzo.ToString("0.00")</p>
                            <div class="article-divider"></div>
                        </div>

                        <!--bottone per completamento operazione-->
                        <button class="add-btn">Aggiungi</button>
                    </div>
                </div>

                <!-- contenuto della riga sotto-->
                @section AboveNavbar {
                }

            </div>
        </div>
    </div>
</div>

<!--da modificare-->
@section Styles {
    <link rel="stylesheet" href="/css/InserimentoArticolo.css"/>
}

}