<!-- permetto l'utilizzo della classe GestioneDati -->
@inject GestioneDati _gestione

@{
    ViewData["Title"] = "Articoli Admin";
    Layout = "_LayoutAdmin";

    <!-- prendo tutte le categorie per visualizzarle nella tab bar -->
    var categorie = _gestione.GetTutteCategorie();
    
    <!-- per personalizzare la navbar, tengo conto della categoria selezionata da evidenziarla -->
    var currentCategoria = ViewContext.RouteData.Values["categoria"]?.ToString() 
                           ?? Context.Request.Query["categoria"].ToString();
}

<!-- Contenuto della sezione NavbarLinks per questa vista specifica -->
@section NavbarLinks {
    <!-- LA TAB BAR -->
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav flex-row gap-3">
            @foreach (var cat in categorie)
            {
                <!-- categoria selezionata-->
                var isActive = currentCategoria == cat.Nome ? "active" : "";
                <li class="nav-item">
                    <a class="nav-link text-dark @isActive" 
                       asp-controller="Home" 
                       asp-action="ArticoliAdmin" 
                       asp-route-idCategoria="@cat.IdCategoria">
                        @cat.Nome
                    </a>
                </li>
            }
        </ul>
    </div>
}

<h1>SELEZIONA ARTICOLO DA CAMBIARE</h1>

<!-- TUTTI GLI ARTICOLI -->
<div class="macro-section">
    <div class="container">
        <div class="macro-grid">
            @foreach (var articolo in Model)
            {
                <a asp-controller="Home" asp-action="ModificaArticolo" asp-route-id="@articolo.IdArticolo" class="articolo-card">
                    <div class="articolo-img-wrap">
                        <img src="@articolo.Foto" alt="@articolo.Nome" class="articolo-img" />
                    </div>
                    <div class="articolo-info">
                        <span class="articolo-nome">@articolo.Nome</span>
                        <span class="articolo-prezzo">€ @articolo.Prezzo.ToString("F2")</span>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="/cssAdmin/Articoli.css"/>
}