@{
    ViewData["Title"] = "Admin - ArticoloEliminato";
    Layout = "_LayoutAdmin";
}

<div class="container">
    <h1>SICURO?</h1>

    <div class="container">
        <p>@Model.IdArticolo</p>
        <p>@Model.Nome</p>
        <p>@Model.ImageUrl</p>
        <p>@Model.Descrizione</p>
        <p>@Model.Prezzo</p>
        <p>@Model.NumeroOrdini<p>
        <p>@Model.Categoria.IdCategoria</p>
        <p>@Model.Categoria.Nome</p>
        <p>@Model.Categoria.ImageUrl</p>
    </div>
    
    <form method="post"
          asp-action="ArticoloEliminatoFine"
          asp-route-id="@Model.IdArticolo">
        <input type="submit"
               name="SubmitConfermaElimina"
               value="ELIMINA"
               class="btn btn-primary"/>
    </form>
    
    <a asp-controller="CategorieAdmin" asp-action="CategorieAdmin" class="btn btn-primary">INDIETRO</a>
</div>

@section Styles {
    <link rel="stylesheet" href="/cssAdmin/Articoli.css"/>
}